{% set section = header %}
<button class="mobile-menu-btn" type="button" aria-label="{{section.btnAria}}" data-open-menu-btn>
  <svg class="mobile-menu-btn-icon" width="24" height="24" aria-label="{{section.svgAria}}">
    <use href="/spritemap.svg#burger"></use>
  </svg>
</button>
<div class="mobile-menu" data-menu>
  <button
    class="mobile-menu-close"
    type="button"
    aria-label="{{section.btnCloseAria}}"
    data-close-menu-btn
  >
    <svg width="24" height="24" aria-label="{{svgCloseAria}}">
      <use xlink:href="/spritemap.svg#close_menu"></use>
    </svg>
  </button>

  {% include './nav-menu.html' %}
</div>
